databases:
    ########  MS SQL  ########
    - id: 1 ## <-- Replace with your demo database's Tidal ID
      name: "Airbnb Product database" ## <-- Replace with your demo database's Tidal name
      engine: SQL Server
      version: 15.0.4198.2
      host: ""
      port: 1433
      db_name: "DemoMSSQLDatabase"
      user: "tidal"
      password: "Dev12345"
      
    #######  Postgres  ########
    - id: 1 ## <-- Replace with your demo database's Tidal ID
      name: "Airbnb Product database" ## <-- Replace with your demo database's Tidal name
      engine: PostgreSQL
      version: 10.5
      host: ""
      port: 5432
      db_name: "postgres"
      user: "tidal"
      password: "Dev12345"
    
    ########  MySQL  ########
    - id: 1 ## <-- Replace with your demo database's Tidal ID
      name: "Airbnb Product database" ## <-- Replace with your demo database's Tidal name
      engine: MySQL
      version: 8.0
      host: "ec2-18-142-50-121.ap-southeast-1.compute.amazonaws.com"
      port: 3306
      db_name: "tidal_db"
      user: "tidal"
      password: "Dev12345"

